{{! Breadcrumb Partial }}
{{#if breadcrumbs}}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">{{ default home_title "Home" }}</a></li>
        {{#each breadcrumbs}}
        <li class="breadcrumb-item {{#if @last}}active{{/if}}" {{#if @last}}aria-current="page"{{/if}}>
            {{#if @last}}
                {{ title }}
            {{else}}
                <a href="{{ url }}">{{ title }}</a>
            {{/if}}
        </li>
        {{/each}}
    </ol>
</nav>
{{/if}}