{{! Pagination Partial - Reusable pagination component }}
{{#if (gt total_pages 1)}}
<nav aria-label="Page navigation">
    <ul class="pagination {{#if size}}pagination-{{ size }}{{/if}} {{#if justify}}justify-content-{{ justify }}{{/if}}">
        {{! Previous button }}
        <li class="page-item {{#if (eq current_page 1)}}disabled{{/if}}">
            <a class="page-link" href="{{#unless (eq current_page 1)}}{{ base_url }}?{{ query_params }}&page={{ subtract current_page 1 }}{{else}}#{{/unless}}"
               aria-label="Previous" {{#if (eq current_page 1)}}tabindex="-1" aria-disabled="true"{{/if}}>
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        {{! Page numbers }}
        {{#each page_range}}
        {{#if (eq this ../current_page)}}
        <li class="page-item active" aria-current="page">
            <span class="page-link">{{ this }}</span>
        </li>
        {{else if (eq this "...")}}
        <li class="page-item disabled">
            <span class="page-link">...</span>
        </li>
        {{else}}
        <li class="page-item">
            <a class="page-link" href="{{ ../base_url }}?{{ ../query_params }}&page={{ this }}">{{ this }}</a>
        </li>
        {{/if}}
        {{/each}}

        {{! Next button }}
        <li class="page-item {{#if (eq current_page total_pages)}}disabled{{/if}}">
            <a class="page-link" href="{{#unless (eq current_page total_pages)}}{{ base_url }}?{{ query_params }}&page={{ add current_page 1 }}{{else}}#{{/unless}}"
               aria-label="Next" {{#if (eq current_page total_pages)}}tabindex="-1" aria-disabled="true"{{/if}}>
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

{{! Page info }}
<div class="pagination-info text-muted small mt-2">
    Showing {{ add (multiply (subtract current_page 1) per_page) 1 }} to
    {{ #if (lt (multiply current_page per_page) total_items)}}{{ multiply current_page per_page }}{{else}}{{ total_items }}{{/if}}
    of {{ total_items }} results
</div>
{{/if}}